<!doctype html>
<html>
  <body>
    <div
      style='background-color:#79b7cf;color:#262626;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
    >
      <table
        align="center"
        width="100%"
        style="margin:0 auto;max-width:600px;background-color:#FFFFFF"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
      >
        <tbody>
          <tr style="width:100%">
            <td>
              <div style="font-size:16px;padding:0px 0px 0px 0px"></div>
              <div style="background-color:#79b7cf;padding:0px 0px 0px 0px">
                <div style="padding:0px 0px 0px 0px">
                  <table
                    align="center"
                    width="100%"
                    cellpadding="0"
                    border="0"
                    style="table-layout:fixed;border-collapse:collapse"
                  >
                    <tbody style="width:100%">
                      <tr style="width:100%">
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:2.6666666666666665px;width:0"
                        >
                          <div style="height:52px"></div>
                        </td>
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:1.3333333333333333px;padding-right:1.3333333333333333px"
                        >
                          <div
                            style="font-size:27px;font-weight:normal;padding:12px 0px 16px 4px"
                          ></div>
                          <div
                            style="font-weight:bold;text-align:right;padding:16px 24px 16px 24px"
                          ></div>
                        </td>
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:2.6666666666666665px;padding-right:0;width:225px"
                        >
                          <div
                            style="background-color:#f8f8f2;padding:0px 8px 8px 0px"
                          >
                            <div
                              style="font-size:21px;font-weight:normal;padding:4px 24px 16px 8px"
                            >
                              {{business_name}}
                            </div>
                            <div style="height:4px"></div>
                            <div
                              style="font-size:15px;font-weight:bold;text-align:right;padding:8px 0px 8px 80px"
                            >
                              {{website}}
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div style="background-color:#79b7cf;padding:0px 44px 0px 0px">
                <div style="background-color:#79b7cf;padding:0px 0px 0px 0px">
                  <table
                    align="center"
                    width="100%"
                    cellpadding="0"
                    border="0"
                    style="table-layout:fixed;border-collapse:collapse"
                  >
                    <tbody style="width:100%">
                      <tr style="width:100%">
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:4px;width:375px"
                        >
                          <div
                            style="background-color:#f8f8f2;padding:0px 8px 0px 0px"
                          >
                            <div style="padding:4px 24px 8px 4px">
                              <table
                                align="center"
                                width="100%"
                                cellpadding="0"
                                border="0"
                                style="table-layout:fixed;border-collapse:collapse"
                              >
                                <tbody style="width:100%">
                                  <tr style="width:100%">
                                    <td
                                      style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:8px;width:20px"
                                    >
                                      <div
                                        style="font-size:41px;font-weight:normal;padding:8px 24px 16px 0px"
                                      >
                                        {{header}}
                                      </div>
                                    </td>
                                    <td
                                      style="box-sizing:content-box;vertical-align:middle;padding-left:8px;padding-right:0"
                                    ></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div style="padding:4px 24px 8px 4px">
                              <table
                                align="center"
                                width="100%"
                                cellpadding="0"
                                border="0"
                                style="table-layout:fixed;border-collapse:collapse"
                              >
                                <tbody style="width:100%">
                                  <tr style="width:100%">
                                    <td
                                      style="box-sizing:content-box;vertical-align:middle;padding-left:0;padding-right:8px;width:20px"
                                    >
                                      <div
                                        style="font-size:18px;font-weight:normal;padding:8px 24px 16px 8px"
                                      >
                                        {{subject}}
                                      </div>
                                    </td>
                                    <td
                                      style="box-sizing:content-box;vertical-align:middle;padding-left:8px;padding-right:0"
                                    ></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </td>
                        <td
                          style="box-sizing:content-box;vertical-align:middle;padding-left:4px;padding-right:0"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div style="padding:0px 0px 0px 0px;background-color:#79b7cf">
                <hr
                  style="width:100%;border:none;border-top:14px solid #332121;margin:0"
                />
              </div>
              <div style="background-color:#f8f8f2;padding:16px 24px 16px 24px">
                <div
                  style="font-size:22px;font-weight:normal;padding:12px 24px 16px 44px"
                >
                  Hi {{name}},
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 80px">
                  {{body}}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

